@charset "utf-8";
/* CSS Document */

.fp-warning, .fp-watermark{z-index: -1 !important;}


body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*START: Cursor CSS ----------------------- */
/* * {cursor: none;} */
body::after {
    content: "";
    position: fixed;
    z-index: 999;
    top: var(--y);
    left: var(--x);
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    mix-blend-mode:difference;
    pointer-events: none;
    transition: width 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    font-size: 2rem;
    transform-origin: center
}
/*Ends: Cursor CSS ----------------------- */


/*START: #Font-Face / icons ================================================== */
@font-face {
    font-family: 'ArchivoRegular';
    src: url('../fonts/ArchivoRegular.eot');
    src: url('../fonts/ArchivoRegular.eot') format('embedded-opentype'),
         url('../fonts/ArchivoRegular.woff2') format('woff2'),
         url('../fonts/ArchivoRegular.woff') format('woff'),
         url('../fonts/ArchivoRegular.ttf') format('truetype'),
         url('../fonts/ArchivoRegular.svg#ArchivoRegular') format('svg');
}
@font-face {
    font-family: 'Archivo_SemiCondensedLight';
    src: url('../fonts/Archivo_SemiCondensedLight.eot');
    src: url('../fonts/Archivo_SemiCondensedLight.eot') format('embedded-opentype'),
         url('../fonts/Archivo_SemiCondensedLight.woff2') format('woff2'),
         url('../fonts/Archivo_SemiCondensedLight.woff') format('woff'),
         url('../fonts/Archivo_SemiCondensedLight.ttf') format('truetype'),
         url('../fonts/Archivo_SemiCondensedLight.svg#ArchivoRegular') format('svg');
}
@font-face {
    font-family: 'SourceSerif4_48ptSemiBold';
    src: url('../fonts/SourceSerif4_48ptSemiBold.eot');
    src: url('../fonts/SourceSerif4_48ptSemiBold.eot') format('embedded-opentype'),
         url('../fonts/SourceSerif4_48ptSemiBold.woff2') format('woff2'),
         url('../fonts/SourceSerif4_48ptSemiBold.woff') format('woff'),
         url('../fonts/SourceSerif4_48ptSemiBold.ttf') format('truetype'),
         url('../fonts/SourceSerif4_48ptSemiBold.svg#SourceSerif4_48ptSemiBold') format('svg');
}
@font-face {
    font-family: 'SourceSerif4_48ptSemiBoldItalic';
    src: url('../fonts/SourceSerif4_48ptSemiBoldItalic.eot');
    src: url('../fonts/SourceSerif4_48ptSemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/SourceSerif4_48ptSemiBoldItalic.woff2') format('woff2'),
         url('../fonts/SourceSerif4_48ptSemiBoldItalic.woff') format('woff'),
         url('../fonts/SourceSerif4_48ptSemiBoldItalic.ttf') format('truetype'),
         url('../fonts/SourceSerif4_48ptSemiBoldItalic.svg#SourceSerif4_48ptSemiBoldItalic') format('svg');
}
/* #Page Styles
================================================== */
body { font-family: 'SourceSerif4_48ptSemiBold';-webkit-font-smoothing: antialiased;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 62.5%;}
section{padding: 60px 0;}
ul{padding-left: 0;}
ul li{list-style: none;}

a, a:hover{text-decoration: none;}
.g-0{--bs-gutter-y: 0; --bs-gutter-x: 0; }


h1{ font-size: 135px; line-height: 1.2; font-weight: 100; margin: 0;font-family: 'SourceSerif4_48ptSemiBold';}
h2{ font-size: 63px; line-height: 1; font-weight: 100; margin: 0;}
h3{ font-size: 34px; font-weight: 100;font-family: 'ArchivoRegular'; }
h4{ font-size: 18px; font-weight: 100;font-family: 'SourceSerif4_48ptSemiBoldItalic';}
h6{ font-size: 18px; font-weight: 100;}
p { font-size: 26px; line-height: 1.2; font-weight: 100; font-family: 'ArchivoRegular';}


.hvrLink{font-family: 'SourceSerif4_48ptSemiBoldItalic';  position: relative; color:  #241D19;transition: .3s;}
.hvrLink:before{content: ''; border-bottom: 1px solid #241D19; position: absolute; bottom: 15px; display: block; width: 100%; left: 0;}
.hvrLink:hover{color: #EF4C23;transition: .3s;}

.txtUnderLine{position: relative; font-style: italic;font-family: 'SourceSerif4_48ptSemiBoldItalic';}
.txtUnderLine:before{content: ''; border-bottom: 1px solid #241D19; position: absolute; bottom: 0px; display: block; width: 100%; left: 0;}
.txtUnderLine.wht:before{content: ''; border-bottom: 1px solid #fff;}

.fulHght{display: flex; height: 100vh;  padding:0;align-items: center;}

.mob-show{display: none;}
.mob-hide{display: block;}

.btn-arrow{font-size: 32px; color: #fff; position: relative; display: inline-flex; align-items: center;line-height: 1.3; font-weight: 100; font-family: 'ArchivoRegular';transition:all ease-in-out .3s;}
.btn-arrow:after{content: ''; background: url("../images/arrow-right.svg") center no-repeat; background-size: contain; width: 54px;height: 32px; margin-left: 20px; display: block;transition:all ease-in-out .3s;}
.btn-arrow:hover{color: #fff;transition:all ease-in-out .3s;}
.btn-arrow:hover:after{margin-left: 30px; transition:all ease-in-out .3s;}

.container { max-width: 1720px; width: 100%; position: relative; margin: 0 auto;}
@media(min-width:1700px){
	.container { max-width: 1720px; }
}
@media(max-width:1680px){
	body{font-size: 45.5%;}
	.container { max-width: 1500px; }
}
@media(max-width:1600px){
	.container { max-width: 1440px; }
}
@media(max-width:1500px){
	.container { max-width: 1360px; }
}
@media(max-width:1400px){
	.container { max-width: 1300px; }
}

@media(max-width:1200px){
	.container { max-width: 1080px; }
}
@media(max-width:1100px){
	.container { max-width: 980px; }
}
@media(max-width:992px){
	.container { max-width: 94%; }
}
@media(max-width:767px){
	.container { max-width: 92%; }
}


/* START : Loader css -----------------------------------------------*/
.loaderActive{overflow: hidden !important; animation: overflowActive .6s linear forwards 5s;top: 0;}
#loaderWrp{background: #fff; position:fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; color: #000; z-index: 99999; display: flex; align-items: flex-end; text-align: right;animation: fade 1s ease-in-out forwards 5s;}
#loaderWrp .orangeBox{position: absolute;top: 70%;left: 85.5%;right: 5%;bottom: 25%;display: block;background: #EF4C23;animation: grow .5s ease-in-out forwards 5s;}
#loaderWrp .rollWrp{height:162px;  overflow: hidden; display: flex; position: absolute; bottom: 35%; right: 5%;animation: slideOut 0.5s ease-in-out forwards 5s;}
#loaderWrp .rollWrp .rollList {position: relative;display: inline-flex; flex-direction: column; top: 0; animation: slideLoader 4.8s forwards;}
#loaderWrp .rollWrp .rollList h1{margin-bottom:0;}
@keyframes slideLoader {
  0%{top:0;}
  30%{top: 0;}
  35%{top: -100%;}
  65%{top: -100%;}
  70%{top: -200%;}
  100%{top: -200%;}
}
@keyframes overflowActive{
  0%  {overflow:hidden;}
  90% {overflow:hidden;}
  100%{overflow:auto;}
}
@keyframes textApear {
  0%  {left: 0%;}
  100%{left: 110%;}
}
@keyframes opac {
  0%  {opacity: 1;}
  90% {opacity: 1;}
  100%{opacity: 0;}
}
@keyframes slideOut {
  0%  {bottom: 35%; opacity: 1;}
  65% {opacity: 0;}
  100%{bottom: 120%; opacity: 0;}
}
@keyframes grow {
  0%  {background: #EF4C23; top: 70%;left: 85.5%;right: 5%;bottom: 25%;}
  100%{background: #241D18; top: 0%;left:0%;right: 0%;bottom: 0%;}
}
@keyframes grow2 {
  0%  { width: 10%; height: 5vh;bottom: 25%; right: 5%; opacity: 0;}
  50% { opacity: 1;}
  100%{ width: 100%; height: 100vh;bottom: 0%; right: 0%;}
}
@keyframes fade {
  0% {opacity: 1;z-index: 9999;}
  40% {opacity: 1;z-index: 9999;}
  90%{z-index: 9999;}
  100% {opacity: 0;z-index: -1;}
}
@media(max-width:1700px){
  h1{ font-size: 100px;}
  #loaderWrp .rollWrp{height: 124px;}
}
@media(max-width:1100px){
  h1{font-size: 80px;}
  #loaderWrp .rollWrp{height: 97px;}
}
@media(max-width:766px){
  .loaderActive{overflow: auto !important;}
  h1{font-size: 30px;}
  #loaderWrp .rollWrp{height: 38px;}
  #loaderWrp .orangeBox{top: 73.5%;left: 82.5%;}
  #loaderWrp .rollWrp{bottom: 28%;}
}

/* ENDS : Loader css -----------------------------------------------*/





/* START : Header css -----------------------------------------------*/
.headerWrp{position: fixed;  top: 30px; width: 100%; z-index: 999; padding: 10px 0;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.headerWrp.headerShrink {top: 40px; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.headerWrp .container{margin: 0 auto; max-width: 90%; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.headerWrp.headerShrink .container{max-width: 50%; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}

.header {padding:0; border-radius: 10px; }
.header:before{content: ""; position: absolute; top: 0; left: -30px; right: -30px;  height: 100%; background: rgba(231,231,231,0.30); backdrop-filter: blur(15px); border-radius: 15px; opacity: 1;  transition:.5s;}

.header .navbar{display: flex; align-items: center; justify-content: space-between; margin-left: -15px; font-size: 18px; padding: 0;  font-family: 'ArchivoRegular'; font-weight: 100; color: #000;position: relative;}

.navbar #navToggle {display: none;opacity: 0; width: 40px;height: 40px;position: absolute;top: 3px;right: 0; padding: 5px; z-index: 9}
.navbar #navToggle  span{display: block;width: 30px;height: 3px;position: relative;background: #000;z-index: 1; transform-origin: center; transition: transform all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);}
.header.headerWhite .navbar #navToggle  span{background: #fff;}
.navbar #navToggle span:first-child{top: 8px; transform: rotate(0deg); transition: .25s ease-in-out;}
.navbar #navToggle span:last-child{top: 16px; transform: rotate(0deg); transition: .25s ease-in-out;}
.navbar #navToggle.active span{background: #fff; transition: .25s ease-in-out;}
.navbar #navToggle.active span:first-child{top: 15px; transform: rotate(45deg); transition: .25s ease-in-out;}
.navbar #navToggle.active span:last-child{top: 12px; transform: rotate(-45deg); transition: .25s ease-in-out;}

#overlayNav{position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: #241D19;z-index: -1;pointer-events: none;}
#overlayNav.active{opacity: 99; z-index: 3;}

#menu{display: flex; font-size: 18px; padding: 0;  font-family: 'ArchivoRegular'; position: relative; margin: 20px 0; padding: 0;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.headerWrp.headerShrink #menu{margin: 15px 0;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
#menu li{color: #241D19; padding: 5px 15px;}
#menu li a{color: #241D19;font-weight: 100; }
#menu li a:hover{color: #EF4C23; transition:.5s;}
#menu li.active a{font-weight: 600;}
#menu li.active a:hover{color: #241D19;cursor: default;}
.header .navbar-brand{margin-right:0;}
.header .navbar-brand .logoDiv{background: url("../images/logo-stirrup-black.svg") 0 0 no-repeat; background-size: contain; width: 120px; height: 35px; display: inline-block; vertical-align: middle; transition:.5s; }

.header.headerWhite:before{background: rgba(255,255,255,0.30); transition:.5s;}
.header.headerWhite #menu li a{color: #fff; transition:.5s;}
.header.headerWhite #menu li a:hover{color: #EF4C23; transition:.5s;}
.header.headerWhite #menu li.active a:hover{color: #FFFFFF; transition:.5s;}
.header.headerWhite .logo-Stirrup .pt1, 
.header.mobNavActive .logo-Stirrup .pt1{background: url("../images/logo-pt1-w.svg") center no-repeat; background-size: cover; width: 17px; height:22px; top: 5px;}
.header.headerWhite .logo-Stirrup .pt2, 
.header.mobNavActive .logo-Stirrup .pt2{background: url("../images/logo-pt2-w.svg") center no-repeat; background-size: cover; width: 103px; height:35px;top: 0; }

.logo-Stirrup{position: relative; overflow: hidden; width: 120px; height: 35px; display: flex;}
.logo-Stirrup span{position: absolute; display: block;}
.logo-Stirrup .pt1{background: url("../images/logo-pt1-b.svg") center no-repeat; background-size: cover; width: 17px; height:22px; top: 5px;}
.logo-Stirrup .pt2{background: url("../images/logo-pt2-b.svg") center no-repeat; background-size: cover; width: 103px; height:35px;top: 0; }
.logo-Stirrup .pt3{background: url("../images/logo-pt3-o.svg") center no-repeat; background-size: cover; width: 20px; height:6px;bottom: 0; }
.logo-Stirrup .pt1{ left: 102px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.logo-Stirrup .pt2{ left: 120px; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.logo-Stirrup .pt3{ right: 0px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.logo-Stirrup:hover .pt1, .logo-Stirrup.active .pt1{ left: 0; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.logo-Stirrup:hover .pt2, .logo-Stirrup.active .pt2{ left: 17px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
.logo-Stirrup:hover .pt3, .logo-Stirrup.active .pt3{ right: 24px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}

@media(max-width:1680px){
  .headerWrp{top: 20px;}
  .headerWrp.headerShrink{top: 30px;}
  #menu{margin: 15px 0;}
  .headerWrp.headerShrink #menu{margin: 10px 0;}
}
@media(max-width:1400px){
  .headerWrp{top: 15px;}
  #menu{font-size: 14px;}
}
@media(max-width:1370px){
  .headerWrp.headerShrink{top: 15px;}
}
@media (max-width:1200px){
	.mob-show{display: block;}
	.mob-hide{display: none;}	
  .headerWrp.headerShrink .container{max-width: 60%;}
}
@media (max-width:992px){
  .headerWrp .container,
  .headerWrp.headerShrink .container{max-width: 94%;}
  .header:before{left: -10px;right: -10px;}
  body::after{content: none;}
	.header .navbar{height: 80px;}
  .header .navbar-brand{position: absolute; top: 15px; left: 15px;}
  .navbar #navToggle {display: block;opacity: 1; }
  .headerWrp.headerShrink #menu{margin: 50px 15px;}
  #menu{flex-direction: column; margin: 50px 15px; width: 100%; display: none; opacity: 0;}
  #menu.active{display: block; opacity: 1;}
  #menu li{padding: 15px 0; border-bottom: 0.5px solid #575757;}
  .logo-Stirrup .pt1{ left: 0; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
  .logo-Stirrup .pt2{ left: 17px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
  .logo-Stirrup .pt3{ right: 24px;transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);}
  .navbar #navToggle{top: 15px;}
  .header:before{background: rgba(0,0,0,0.30); transition:.5s;}
  .header #menu li a{color: #fff; transition:.5s;}
  .header #menu li a:hover{color: #EF4C23; transition:.5s;}
  .header #menu li.active a:hover{color: #FFFFFF; transition:.5s;}
  .header .logo-Stirrup .pt1{Xbackground: url("../images/logo-pt1-w.svg") center no-repeat; background-size: cover; width: 17px; height:22px; top: 5px;}
  .header .logo-Stirrup .pt2{Xbackground: url("../images/logo-pt2-w.svg") center no-repeat; background-size: cover; width: 103px; height:35px;top: 0; }
}
@media(max-width:766px){
  .headerWrp{padding: 0;}
  .headerWrp .container, .headerWrp.headerShrink .container{max-width: 90%;}
  .header .navbar{height: 48px;}
  .navbar #navToggle{top: 4px;}
  .header .navbar-brand{top:8px;}
  .logo-Stirrup{width: 85px;height: 24px;}
  .header .logo-Stirrup .pt1,
  .header.headerWhite .logo-Stirrup .pt1, .header.mobNavActive .logo-Stirrup .pt1{background-size: contain;height:16px;width:13px;top: 2px;}
  .header .logo-Stirrup .pt2,
  .header.headerWhite .logo-Stirrup .pt2, .header.mobNavActive .logo-Stirrup .pt2{background-size: contain;height:24px;width:72px;left: 13px;}
  .logo-Stirrup:hover .pt3, .logo-Stirrup.active .pt3,
  .logo-Stirrup .pt3{background-size: contain;height:4px;width:13px;right: 17px;}
  #menu{margin: 50px 15px;}
}
/* ENDS : Header css -----------------------------------------------*/





#fullpage{z-index: 1;}

.bounceArrow {
  bottom: 30px; left: 6%;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 9;
  animation: bounceArrow 2s infinite;
  -webkit-animation: bounceArrow 2s infinite;
  -moz-animation: bounceArrow 2s infinite;
  -o-animation: bounceArrow 2s infinite;
}
.arrowdwn-ico {
  position: absolute;
  left: 0px;
  opacity: 1;
  top: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../images/arrow-right-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
  transform: rotate(90deg);
}
@-webkit-keyframes bounceArrow {
  0%,
  20%,
  50%,
  80%,
  100% { -webkit-transform: translateY(0);}
  40% { -webkit-transform: translateY(-20px);}
  60% {-webkit-transform: translateY(-10px); }
}



.banVideoWrp{background: #241D18; position: relative;}
.banVideoWrp .vidText{position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; /*background: rgba(0,0,0,.4);*/}
.banner-wrp {width: 100%;height: 100vh;position:absolute; top: 0; left: 0; background: #fff; }
.banner-wrp #bnr-vid {width: 100%;height: 100vh;object-fit: cover; }
.banVideoWrp .dwn-arrow-btn{bottom: 40px; left: 0%;}

.banVideoWrp .vidText .vid-tl{ max-width: 750px;}



.introWrp{ background: #fff; height: 100%; padding: 160px 0 80px 0; position: relative;}
/*.introWrp .dwn-arrow-btn{bottom: 40px; left: 6%;}*/
.introWrp .dwn-arrow-btn .arrowdwn-ico{background-image: url("../images/arrow-right-orange.svg"); background-size: contain;}
.introWrp .fp-overflow{height: 100%;}
.introWrp .staticTxt{height: 100%; display: flex; flex-direction: column;}
.introWrp .staticTxt p{margin-top: auto; margin-bottom: 90px;}
.introWrp .calloutWrp{text-align: right; height: 100%; display: flex; flex-direction: column; justify-content: flex-end;}

.introWrp .callout-big{height:300px;  overflow: hidden; position: relative; display: flex; justify-content: flex-end;xbackground:red; margin-bottom: 30px;}
.introWrp .callout-big h2{font-size: 400px; display: block; line-height:1; margin:0; padding: 0;}
.introWrp .callout-big .rollerText {position: absolute; top: -14%; animation: slide 8s infinite;}
@keyframes slide {
  0%{top:-14%;}
  20%{top: -14%;}
  30%{top: -150%;}
  60%{top: -150%;}
  70%{top: -280%;}
  90%{top: -280%;}
  100%{top:-14%;}
}

.introWrp .callout-sml{display: block; }
.introWrp .callout-sml{height:68px;  overflow: hidden; position: relative; display: flex; justify-content: flex-end; xbackground:blue;}
.introWrp .callout-sml h2{margin-bottom: 5%;}
.introWrp .callout-sml .rollerText {position: absolute; top: -18%; animation: slide2 8s infinite;}

.introWrp .linetextRoll{height:63px;  overflow: hidden; position: relative; display: inline-flex; margin-left: 20px;}
.introWrp .linetextRoll .rollerText{position: relative;display: inline-flex; flex-direction: column; top: 0; animation: slide3 8s infinite;}
.introWrp .linetextRoll .rollerText span{margin-bottom: 0;}

@keyframes slide2 {
    0%{top:-5%;}
    20%{top: -5%;}
    30%{top: -110%;}
    60%{top: -110%;}
    70%{top: -220%;}
    90%{top: -220%;}
    100%{top: -5%}
}
@keyframes slide3 {
    0%{top:0;}
    20%{top: 0;}
    30%{top: -100%;}
    60%{top: -100%;}
    70%{top: -200%;}
    90%{top: -200%;}
    100%{top: 0;}
}


.srvcWrp {position: relative; overflow: hidden;}
.srvcWrp .staticTxt{color: #fff; position: absolute; top: 160px; left: 0; width: 100%;z-index:9;}
.srvcWrp .CrdThumbWrp{position: absolute;  bottom: 50px; left: 0; width: 100%; z-index:9;}
.srvicInerWrp{position: absolute; z-index: 9; top: 0; left: 0; width: 100%; height: 100%; padding: 200px 0 60px 0;color: #fff; }


.CardsThumb{ margin: 0; padding: 0; display: flex;border-top: 1px solid rgba(255,255,255,1); padding: 0 30px;}
.CardsThumb li{ flex: 0 25%;  padding-top: 15px;  font-family: 'ArchivoRegular';font-size: 22px;line-height: 1.2;font-weight: 100; text-transform: uppercase; border-right: 1px solid rgba(255,255,255,1); text-align: center;transition:all 0.5s ease-in-out;}
.CardsThumb li:last-child{border-right: none;}
.CardsThumb li a{ color:rgba(255,255,255,.3);transition:all 0.5s ease-in-out; text-align: left; display: inline-block; width: 95%; margin: 0 auto;}
.CardsThumb li.active{/*border-bottom: 1px solid rgba(255,255,255,1);  */transition:all 0.5s ease-in-out;}
.CardsThumb li.active a{color: rgba(255,255,255,1); transition:all 0.5s ease-in-out;}
.swiperCards { width: 100%;}
.swiperCards  .swiper-slide {}
.swiperCards  .swiper-slide.swiper-slide-active{}
.swiperCards  .swiper-slide .srvCard{position: relative; overflow: hidden; height: 100vh;}

.swiperCards  .swiper-slide .srvCard .imgDiv{ width: 100%;  overflow: hidden;}
.swiperCards  .swiper-slide .srvCard .imgDiv img{width: 100%;}
.swiperCards  .swiper-slide .srvCard .vidDiv{ width: 100%; height:100%;  overflow: hidden;}
.swiperCards  .swiper-slide .srvCard .vidDiv video{width: 100%;height: 100%;object-fit: cover; }

.swiperCards  .swiper-slide .srvCard .copyDiv{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;display: flex; flex-direction: column;justify-content: center; color: #fff;}
.swiperCards  .swiper-slide .srvCard .copyDiv ul{display: flex; flex-direction: row; flex-wrap: wrap;font-family: 'Archivo_SemiCondensedLight'; margin-bottom: -5px;}
.swiperCards  .swiper-slide .srvCard .copyDiv ul li{border: 1px solid #fff; border-radius: 25px; padding:5px 20px; text-transform: uppercase; margin: 0 10px 10px 0; font-size: 16px; letter-spacing: 0.05em;}
.swiperCards  .swiper-slide .srvCard .copyDiv p{margin-bottom: 40px; margin-top: 40px}
.swiperCards  .swiper-slide .srvCard .copyDiv .infoDiv,
.swiperCards  .swiper-slide .srvCard .copyDiv .tagsDiv{overflow: hidden; position: relative;}
.swiperCards  .swiper-slide .srvCard .copyDiv .infoDiv h3,
.swiperCards  .swiper-slide .srvCard .copyDiv .tagsDiv ul{ transform: translateY(110%);transition:all 0.5s ease-in-out;}
.swiperCards  .swiper-slide.swiper-slide-active .srvCard .copyDiv .infoDiv h3,
.swiperCards  .swiper-slide.swiper-slide-active .srvCard .copyDiv .tagsDiv ul{ transform: translateY(0%);transition:all 0.5s ease-in-out .3s;}
.swiperCards  .swiperCard-button-prev{display: none;}
.swiperCards  .swiperCard-button-next{display: none;}

.workWrp{background: #241D19; color: #fff; padding:160px 0 40px 0; display: block; height: 100vh; overflow: hidden;}
.workWrp .staticTxt{/*margin-bottom: 50px;*/}
.workWrp .fp-overflow{display: flex; flex-direction: column; height:  100%; justify-content: space-between; }
.workWrp .workSliderWrp{margin-top: auto; width: 100%; position: relative; overflow: hidden;}
.workWrp .workSliderWrp .workSlider {overflow: hidden;}
.workWrp .workSliderWrp .workSlider .swiper-wrapper{align-items: flex-end;}
.workWrp .workSliderWrp .workSlider .imgDiv{}
.workWrp .workSliderWrp .workSlider .imgDiv img{width: 100%;}
.workWrp .workSliderWrp .workSlider .swiper-slide { width: 450px;transition:1s; border-top-left-radius: 15px;border-top-right-radius: 15px;  overflow: hidden; opacity: .6;}
.workWrp .workSliderWrp .workSlider .swiper-slide.swiper-slide-prev,  
.workWrp .workSliderWrp .workSlider .swiper-slide.swiper-slide-next  {transform:translate3d(0px, 100px, -80px) rotateX(0deg) rotateY(0deg) scale(1) !important; opacity: .8;}
.workWrp .workSliderWrp .workSlider .swiper-slide{transform:translate3d(0px, 200px, -100px) rotateX(0deg) rotateY(0deg) scale(1) !important; opacity: .6;}
.workWrp .workSliderWrp .workSlider .swiper-slide.swiper-slide-active {transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important; opacity: 1;}
.sliderVideo{width: 100%; height: 100%; object-fit: cover;}
.workWrp .swiper-3d .swiper-slide-shadow-right,
.workWrp .swiper-3d .swiper-slide-shadow-left{background: none;}

.workWrp .workSliderWrp .workSlider-thumbs .copyDiv{padding:10px 0 0 0; color: #fff; text-align: center;background: #241D19; opacity: 0;transition: all .2s ease-in;}
.workWrp .workSliderWrp .workSlider-thumbs .copyDiv p{ font-size: 16px; transition: all .4s ease-in-out; margin-top: 10px; }

.workWrp .workSliderWrp .workSlider-thumbs .copyDiv ul{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; font-family: 'ArchivoRegular'; margin-bottom: -5px;}
.workWrp .workSliderWrp .workSlider-thumbs .copyDiv ul li{font-family: 'Archivo_SemiCondensedLight';border: 1px solid #fff; border-radius: 25px; padding:5px 10px; text-transform: uppercase; margin: 0 10px 10px 0; font-size: 12px; letter-spacing: 0.05em;}
.workWrp .workSliderWrp .workSlider-thumbs .swiper-slide-active .copyDiv{opacity: 1;transition: all .2s ease-in;}
.ccc{opacity: 0;transition: all .1s ease-in;}

.workWrp .swiperWrk-button-prev, 
.workWrp .swiperWrk-button-next{display: inline-block; vertical-align: middle; width: 50px; height: 35px; margin: 10px; }
.workWrp .swiperWrk-button-prev{background: url("../images/arrow-left.svg") center no-repeat; background-size: contain; right: 60px;}
.workWrp .swiperWrk-button-next{background: url("../images/arrow-right.svg") center no-repeat; background-size: contain;}


.clientWrp{background: #241D19; color: #fff; padding:160px 0; display: block; overflow: hidden;}
.clientWrp .fp-overflow{display: flex; flex-direction: column; height: 100%;}
.clientWrp .staticTxt{margin-bottom: 80px;}
.clientWrp .marquee .js-marquee{display: inline-flex;}
.clientWrp .marqeWrp{--gap: 1rem;display: flex;overflow: hidden;user-select: none;gap: var(--gap); margin-top: auto;}
.clientWrp .marqeWrp .marqueList{flex-shrink: 0;display: flex;justify-content: space-around;min-width: 100%;gap: var(--gap);animation: scroll 30s linear infinite;}
@keyframes scroll {
  from {transform: translateX(0);}
  to {transform: translateX(calc(-100% - var(--gap)));}
}

.workWrp .hvrLink,
.srvcWrp .hvrLink, 
.clientWrp .hvrLink{color:#fff;}
.workWrp .hvrLink:before,
.srvcWrp .hvrLink:before, 
.clientWrp .hvrLink:before{border-bottom: 1px solid #fff; }
.hvrLink:hover{color: #EF4C23;transition: .3s;}

.thinkingWrp{background: url("../images/bg-thinking.jpg") center  no-repeat; background-size: cover; color: #fff; padding: 100px 0 0 0;}
.thinkingWrp .fp-overflow{overflow: visible;}
.thinkingWrp .thinkLhs{display: inline-flex; flex-direction: column;}
.thinkingWrp .tagsDiv{margin-top: auto; margin-bottom: 10px;}
.thinkingWrp .tagsDiv ul{display: flex; flex-direction: row; flex-wrap: wrap;font-family: 'Archivo_SemiCondensedLight'; margin-bottom: -5px;}
.thinkingWrp .tagsDiv ul li{border: 1px solid #fff; border-radius: 25px; padding:5px 20px; text-transform: uppercase; margin: 0 10px 10px 0; font-size: 16px; letter-spacing: 0.05em;}

.thinkSlider img{width: 100%;}
.thinkSlider .swiper-slide{opacity: 0 !important; border-radius: 15px; overflow: hidden;}
.thinkSlider .swiper-slide.swiper-slide-active,
.thinkSlider .swiper-slide.swiper-slide-prev,
.thinkSlider .swiper-slide.swiper-slide-next{opacity: 1 !important;}

.thinkThumbWrp {border-top: 1px solid #fff; padding: 0 25%; position: relative;margin-top:30px; }
.thinkThumbWrp .swiperThink-prev, 
.thinkThumbWrp .swiperThink-next{display: inline-block; vertical-align: middle; width: 50px; height: 35px; top: 60%;}
.thinkThumbWrp .swiperThink-prev{background: url("../images/arrow-left.svg") center no-repeat; background-size: contain; left: 0;}
.thinkThumbWrp .swiperThink-next{background: url("../images/arrow-right.svg") center no-repeat; background-size: contain; right: 0;}
.thinkThumbWrp .swiperThink-prev:after, 
.thinkThumbWrp .swiperThink-next:after{content: none;}
.thinkThumbSlider{border-left: 1px solid #fff; border-right: 1px solid #fff; }/*SourceSerif4_48ptSemiBold*/
.thinkThumbSlider .swiper-slide{text-align: center;font-family:'Archivo_SemiCondensedLight';font-size: 18px; padding: 10px 0 0 0; line-height: 1.1; font-weight: normal;letter-spacing: 0.05em; opacity: 0;}
.thinkThumbSlider .swiper-slide span{font-family: 'ArchivoRegular';font-size: 32px;display: block; font-weight: normal; letter-spacing:normal;}
.thinkThumbSlider .swiper-slide-active{opacity: 1;}

.careerWrap{background: #241D19; color: #fff;  display: block; position: relative; overflow:hidden;}
.careerWrap .textIncrement{font-size: 280px; line-height: 0.8; margin-bottom: 20px;} 
.careerWrap .copyDiv{ height:100%;display:flex; flex-direction:column; padding:160px 0 60px 0;align-items:flex-start; /*justify-content:space-between;*/}
.careerWrap .copyDiv .btn-boxArrow{margin-top: 40px;}
.careerWrap .copyDiv .linetextRoll{height:63px;  overflow: hidden; position: relative; display: inline-flex;}
.careerWrap .copyDiv .linetextRoll .rollerText{position: relative;display: inline-flex; flex-direction: column; top: 0; animation: slide4 10s infinite;}
.careerWrap .copyDiv .linetextRoll .rollerText span{margin-bottom: 0;}
@keyframes slide4 {
    0%{top:0;}
    20%{top: 0;}
    25%{top: -100%;}
    45%{top: -100%;}
    50%{top: -200%;}
    70%{top: -200%;}
    75%{top: -300%;}
    95%{top: -300%;}
    100%{top: 0;}
}

.tileWrp .tileDiv{display:flex; flex-wrap: wrap; justify-content: space-between;}
.tileWrp .tileDiv li{flex:0 0 calc(50% - 10px); margin-bottom: 20px;}
.tileWrp .tileDiv li img{width: 100%;}

.careerWrap .marqeWrp{--gap: 1rem;display: flex; flex-direction: column; overflow: hidden;user-select: none;gap: var(--gap);}
.careerWrap .marqeWrp .marqueList{flex-shrink: 0;display: flex;flex-direction: column;justify-content: space-around;min-width: 100%;gap: var(--gap);animation: scrollThumb 200s alternate infinite;}
.careerWrap .marqeWrp .marqueListRvrs{flex-shrink: 0;display: flex;flex-direction: column;justify-content: space-around;min-width: 100%;gap: var(--gap);animation: scrollThumbRvrs 200s alternate infinite;}
.careerWrap .marqeWrp .marqueList li img,
.careerWrap .marqeWrp .marqueListRvrs li img{width: 100%;}
.careerWrap .marqeWrp .marqueList li,
.careerWrap .marqeWrp .marqueListRvrs li{border-radius: 5px; overflow: hidden;}
@keyframes scrollThumb {
  from {transform: translateY(0);}
  to {transform: translateY(calc(-100% - var(--gap)));}
}
@keyframes scrollThumbRvrs {
  from {transform: translateY(calc(-100% - var(--gap))););}
  to {transform: translateY(0);}
}

.marqueeImg1, .marqueeImg2 {display: block; height: 100%;}
.marqueeImg1 li, .marqueeImg2 li{margin-bottom: 30px; display: block; border-radius: 5px; overflow: hidden;}
.marqueeImg1 li img, .marqueeImg2 li img{width: 100%;}
.imgRolWrp{ position: relative; overflow: hidden; height: 100vh;}
.imgRolWrp:before{content: "";  position:absolute; top: 0; left: 0; width: 100%; height: 34%; background: linear-gradient(to bottom,  rgba(43,38,37,1) 25%,rgba(43,38,37,0) 100%); z-index: 3;}
.imgRolWrp:after{content: "";  position:absolute; bottom: 0; left: 0; width: 100%; height: 30%; background: linear-gradient(to top,  rgba(43,38,37,1) 10%,rgba(43,38,37,0) 100%); z-index: 9;}


.contactWrp {background: #fff; padding-top: 160px;}
.contactWrp .dwn-arrow-btn .arrowdwn-ico{background-image: url("../images/arrow-right-orange.svg"); background-size: contain;transform: rotate(270deg);}

.contactWrp .fp-overflow{display: flex; flex-direction: column; height: 100%;}
.contactWrp .contctTop{display: flex; flex-direction: column; height: 100%;}
.contactWrp .contctTop .socilaDiv{margin-top: auto; margin-bottom: auto;}
.contactWrp h3{color: #A79D9A; margin: 0;padding: 0;font-family: 'SourceSerif4_48ptSemiBold';}
.contactWrp .socialList{display: flex;  text-align: center; margin: 0; padding: 0;}
.contactWrp .socialList li{flex: 0 25%; padding: 15px 0; text-align: center; border-left: 1px solid #D9D9D9;}
.contactWrp .socialList li:first-child{border-left: none;}

.contactWrp .addWrp{background: #F2F2F2; padding:60px 0; margin-top: auto;}
.contactWrp .addersPanel{display: flex; border-top: 1px solid #D9D9D9; padding: 30px 0 0 0; margin-top: 30px;}
.contactWrp .addersPanel .addrsInfo p{font-size: 22px;color: #241D19; line-height: 1.3; padding-top: 5px; margin: 0;}
.contactWrp .addersPanel .location {width: 30%;}
.contactWrp .addersPanel .location h3{font-family: 'SourceSerif4_48ptSemiBold'; font-size: 36px;color: #241D19; display: inline-block; vertical-align: middle;}
.contactWrp .addersPanel .location  .btn-circleArrow{display: inline-block; vertical-align: middle; width: 40px;height: 40px; text-align: center; border-radius: 50%; border: 1px solid #A79D9A; position: relative; margin-right: 20px; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.contactWrp .addersPanel .location  .btn-circleArrow:before{content:""; background: url("../images/arrow-diagonal-gray.svg") center no-repeat; background-size: 60%; width: 100%; height: 100%; position: absolute; top:0px; left: 0; display: block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.contactWrp .addersPanel .location  .btn-circleArrow:hover{border: 1px solid #FF3300; background: #FF3300; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.contactWrp .addersPanel .location  .btn-circleArrow:hover:before{content:""; background: url("../images/arrow-diagonal-wht.svg") center no-repeat; background-size: 60%;  transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }


.contacSlider .swiper-slide{border-radius:  6px; overflow:hidden;}
.contacSlider .swiper-slide img{width: 100%;}


.btn-boxArrow{padding:8px 20px; font-family: 'ArchivoRegular';font-size: 30px; color: #241D19; border: 1px solid #D9D9D9; border-radius: 10px; display: inline-block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.btn-boxArrow.dark{color: #fff; border: 1px solid #403836; }
.btn-boxArrow:after{content: ""; background: url("../images/arrow-right-orange.svg") center no-repeat; background-size: contain; width: 40px; height: 30px; display: inline-block; vertical-align: middle; margin-left: 20px; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.btn-boxArrow:hover{color: #fff; background: #FF3300; border: 1px solid #FF3300;  transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.btn-boxArrow:hover:after{content: ""; background: url("../images/arrow-right-white.svg") center no-repeat; background-size: contain;margin-left: 30px; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);  }


.icon-insta {background: url("../images/icon-insta-gray.svg"  ) center no-repeat; background-size: contain; width: 55px; height: 55px; display: inline-block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);  }
.icon-linkin{background: url("../images/icon-linkdin-gray.svg") center no-repeat; background-size: contain; width: 55px; height: 55px; display: inline-block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);  }
.icon-twiter{background: url("../images/icon-twitter-gray.svg") center no-repeat; background-size: contain; width: 55px; height: 55px; display: inline-block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);  }
.icon-youtube{background: url("../images/icon-yt-gray.svg") center no-repeat; background-size: contain; width: 55px; height: 55px; display: inline-block; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1);  }
.icon-insta:hover{background: url("../images/icon-insta-color.svg") center no-repeat; background-size: contain; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.icon-linkin:hover{background: url("../images/icon-linkdin-color.svg") center no-repeat; background-size: contain; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.icon-twiter:hover{background: url("../images/icon-twitter-color.svg") center no-repeat; background-size: contain; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }
.icon-youtube:hover{background: url("../images/icon-yt-color.svg") center no-repeat; background-size: contain; transition: all .5s cubic-bezier(0.61, 0, 0.28, 1); }

/*START: FOOTER css -------------*/
.footerWrp{background: #F2F2F2;  font-family: 'ArchivoRegular'; font-size: 18px;color: #241D19; padding-bottom: 10px; }
.footerWrp .row{border-top: 1px solid #D9D9D9; align-items: center;}
.footerWrp p{font-size: 18px; padding: 10px 0; margin: 0;}
.footerWrp ul{display: flex; margin: 0; padding: 0;}
.footerWrp ul li{font-family: 'ArchivoRegular'; font-size: 18px; padding: 10px 30px; border-left:1px solid #D9D9D9;}
.footerWrp a{color: #241D19;}
/*ENDS: FOOTER css -------------*/




@media(min-width:2000px){ 
  .careerWrp .col-rhs{width:58.7%;}
}
.careerSider p{color: #fff; margin-top: 20px; font-size: 22px;}
.careerSider img{width: 100%;}
.careerSider .copyDiv{position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px; display: flex; flex-direction: column; justify-content: space-between; color: #fff;}


@media(max-width:3000px){
   .careerWrp .col-rhs{width: 66.7%;}
}


@media(max-width:2000px){
   .careerWrp .col-rhs{width: 70%;}
}


@media(max-width:1680px){   
  .careerWrp .col-lft{margin-left: calc((100% - 1500px) / 2);}
  .CardsThumb li{font-size: 20px;}
}

@media(max-width:1600px){
  .introWrp .callout-big h2{font-size:340px; }
  /*h1{ font-size:120px;}*/
  h2{ font-size: 58px;}
  h3{ font-size: 34px;}
  h4{ font-size: 18px;}
  h6{ font-size: 18px;}
  p { font-size: 22px;}
  
  .dwn-arrow-btn, .arrowdwn-ico{width: 30px; height: 30px;}

  .introWrp .linetextRoll{height: 58px;}
  .introWrp .callout-sml .rollerText{top: 0;animation: slide3 8s infinite;}
  .introWrp .callout-big {height: 260px;}
  
  .swiperCards .swiper-slide .srvCard .copyDiv ul li{font-size: 14px;}
  .CardsThumb li{font-size: 18px;}
  .careerWrap .textIncrement{font-size: 210px;}
  
  .thinkingWrp .tagsDiv ul li{padding: 5px 15px; font-size: 14px;}
  .thinkingWrp h2{ font-size: 44px;}
  .btn-boxArrow{font-size: 24px;}
  .contactWrp .socialList li{padding: 15px 0;}
  .contactWrp .addWrp{padding: 30px 0;}
  .contactWrp .addersPanel{padding-top: 20px; margin-top: 20px;}
  .contactWrp .addersPanel .location h3{font-size: 30px;}
  .contactWrp .addersPanel .addrsInfo p{font-size: 18px;}
  .icon-insta, .icon-linkin, .icon-twiter{width: 45px; height: 45px;}
  .banVideoWrp .vidText .vid-tl { max-width: 660px; }
  .CardsThumb li a{ width: 86%;}
  .footerWrp p, .footerWrp ul li{font-size: 14px;}
}

@media(max-width:1500px){
  .bounceArrow{left: 3.5%;}
  
  .swiperCards .swiper-slide .srvCard .copyDiv{padding-right: 0;}
  
  .workWrp{padding: 150px 0 20px 0;}
  .thinkThumbSlider .swiper-slide{font-size: 14px;}
  .thinkThumbSlider .swiper-slide span{font-size: 26px;}
  
  .careerWrap .copyDiv .linetextRoll{height: 58px;}
}


@media(max-width:1400px){
  
  .introWrp .callout-big h2{font-size: 300px;}
  .introWrp .callout-big{ height: 226px;}
  h2{ font-size: 56px;}
  
  .thinkingWrp .tagsDiv{margin-top: 30px;}
  
  .contactWrp .contctTop .socilaDiv{margin-bottom: 30px;}
  .contactWrp .socialList li{padding: 30px 0;}
}

@media(max-width:1370px){
  h2{ font-size: 46px;}
  h3{ font-size: 24px;}
  .introWrp .linetextRoll, .careerWrap .copyDiv .linetextRoll{height: 46px;}
  .introWrp .callout-sml{height: 54px;}
  .swiperCards .swiper-slide .srvCard .copyDiv p{font-size: 18px;}
  .swiperCards .swiper-slide .srvCard .copyDiv ul li{font-size: 12px;}
  .CardsThumb li{font-size: 14px;}
  .workWrp .workSliderWrp .workSlider-thumbs .copyDiv ul li{font-size: 11px; margin: 0 5px 10px 0;}
  .thinkingWrp .tagsDiv{margin-top: 40px; margin-bottom: 20px;}
  .thinkingWrp .tagsDiv ul li{font-size: 12px;}
  .careerWrap .textIncrement{font-size: 152px;}
  .introWrp, .workWrp, .careerWrap .copyDiv, .contactWrp{padding-top: 100px;}
  .srvcWrp .staticTxt{top: 100px;}
  .btn-boxArrow{font-size: 19px;}
  .contactWrp .addersPanel .location h3{font-size: 24px;}
  .icon-insta, .icon-linkin, .icon-twiter{width: 34px;height: 34px;}
  .banVideoWrp .vidText .vid-tl { max-width: 540px; }
}

@media(max-width:1200px){
  
  .introWrp .callout-big{ height: 180px;}
  .introWrp .callout-big h2{font-size: 240px;}
  .thinkingWrp .tagsDiv{margin-top: 40px;}
  .srvcWrp .CrdThumbWrp{bottom: 80px;}
  .workWrp .workSliderWrp{margin-bottom: 40px;}
    .thinkingWrp .pl-5{ padding-left: 15px !important;}
  .careerWrap .copyDiv{padding-bottom: 110px;}
}

@media(max-width:992px){
    h2{font-size: 38px;}
  .introWrp .callout-big{ height: 180px;}
  .introWrp .callout-big h2{font-size: 240px;}
  .thinkingWrp .tagsDiv{margin-top: 40px;}
  .thinkThumbSlider .swiper-slide span{font-size: 20px; margin-bottom: 10px;}
  .introWrp, .workWrp, .careerWrap .copyDiv{padding-top: 200px;}
  .srvcWrp .staticTxt{top: 200px;}
  .introWrp .linetextRoll, .careerWrap .copyDiv .linetextRoll{height: 38px;}
  .introWrp .callout-sml{height: 45px;}
  .workWrp, .careerWrap{padding-bottom: 100px;}
  .contactWrp{padding-top: 150px;}
  .contactWrp .socialList{margin-top: 40px;}
  .contactWrp .addersPanel{flex-direction: column;}
  .contactWrp .addersPanel .location{margin-bottom: 20px;}
  .contactWrp .addersPanel .location h3{margin-top: 10px;}
  .contactWrp .contacSlider{margin-top: 60%;}
  .banVideoWrp .vidText .vid-tl { max-width: 450px; }
}

@media(max-width:767px){
  
  h2{font-size: 30px;}
  p{font-size: 18px;}
  
  .bounceArrow{display: none;}
  .banVideoWrp .dwn-arrow-btn{display: block;}
  .banVideoWrp .vidText .col-7{flex: 0 0 100%; max-width: 100%;}
  .introWrp .staticTxt{margin-bottom: 30px;}
  .introWrp .callout-big h2{font-size: 100px;}
  .introWrp .callout-big{height: 75px; margin-bottom: 15px;}
  .introWrp .callout-sml{height: 38px;}

  .introWrp .linetextRoll, .careerWrap .copyDiv .linetextRoll{height: 32px;}
  .introWrp, .workWrp, .careerWrap .copyDiv{padding-top: 100px;}
  .srvcWrp .staticTxt{top: 100px;}
  
  .srvcWrp .CrdThumbWrp{bottom: 80px;}
  .CardsThumb{flex-direction: column; position: relative; align-items: center;}
  .CardsThumb li{ visibility: hidden; opacity: 0; position: absolute; top:0px; width: 74%;border-left: 1px solid rgba(255,255,255,1);}
  .CardsThumb li.active{ visibility: visible; opacity: 1;}
  .CardsThumb li a{text-align:center;}
  .CardsThumb li:last-child{border-right: 1px solid rgba(255,255,255,1);}
  .swiperCards  .swiperCard-button-prev{display: block;position: absolute;left: 30px;bottom: 37px;background:url("../images/arrow-left.svg")center no-repeat; background-size: contain;width: 30px;height: 30px;z-index: 9;}
  .swiperCards  .swiperCard-button-next{display: block;position: absolute;right: 30px;bottom: 37px;background:url("../images/arrow-left.svg")center no-repeat; background-size: contain;width: 30px;height: 30px;z-index: 9; transform: rotate(180deg);}
  
  .workWrp .swiperWrk-button-prev, .workWrp .swiperWrk-button-next{width: 30px; height: 30px;}
  
  .workWrp{padding-bottom: 60px;}
  .thinkingWrp .fp-overflow{max-height: inherit;}
  .thinkThumbWrp {padding:0 15%;}
  .thinkThumbWrp .swiperThink-prev, .thinkThumbWrp .swiperThink-next{width: 30px;}
  .thinkThumbSlider .swiper-slide span{font-size: 18px; margin-bottom: 3px; letter-spacing: 0;}
  
  .careerWrap .textIncrement{font-size: 92px;}
  
  .btn-boxArrow{padding: 8px 15px; font-size: 18px;}
  .btn-boxArrow:after{width: 28px; height: 20px; margin-left: 10px;}
  .btn-boxArrow:hover:after{margin-left: 15px;}
  .careerWrap .copyDiv .btn-boxArrow{margin-top: 40px;}
  .imgRolWrp{height: auto; margin-bottom: 40px;}
  .careerWrap .marqeWrp{min-width: 100%; flex-direction: row;}
  .careerWrap .marqeWrp .marqueList{min-width: 100%; flex-direction: row;animation: scroll 10s linear infinite}
  .careerWrap{padding-bottom: 0;}
  .col-sm-none{display: none; visibility:hidden;}
  .contactWrp{padding-top: 100px;}
  .contactWrp .fp-overflow{max-height: none;}
  .contactWrp .contacSlider{margin-top: 40px;}
  .contactWrp .addersPanel .location{margin-bottom: 10px;}
  .contactWrp .addersPanel .addrsInfo p{font-size: 14px;}
  .contactWrp h3{margin-top: 30px;}
  .footerWrp ul{width: 100%; border-top: 1px solid #D9D9D9;}
  .footerWrp ul li:first-child{padding-left: 0; border-left: 0;}
  .footerWrp p, .footerWrp ul li{font-size: 13px;}
  .icon-insta, .icon-linkin, .icon-twiter{height: 30px; width: 30px;}
  
  .clientWrp h2{line-height: 1.3;}
}


/*.counterUp{ position: relative;}
.counterUp:before{content: "1"; display: block; font-size: 80px; color: #000;animation: contUp 3s linear infinite 5s;}

@keyframes contUp{
  0%{content: "0";}
  100%{content:"100";}
}*/

/*.fp-watermark{z-index: -1;}*/

